.player{
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    display: block;
    background-color: #172634;
    border: solid 1px #007bff;
    padding: 3px;
    padding-top: 8px;
}

span{
    margin: 3px 10px;
}

.w200{
    width: 200px;
    height: 20px;
}

.screen{
    width: 600px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -300px;
}

.screen > h3 {
    color: #ffffff;
}

#game-over{
    visibility: hidden;
}